<div class='row beer-headers'>
  <div class='col-xs-4 gutterless'>
    name
  </div>
  <div class='col-xs-4 gutterless'>
    price
  </div>
  <div class='col-xs-4 gutterless'>
    actions
  </div>
</div>
<div class='container-fluid list-o-beers'>
  {{#each beers as |beer|}}
    <div data-id='{{beer.id}}' class='row one-beer'>
      <div data-id='{{@index}}' class='col-xs-4 gutterless market-beer-name'>
        {{beer.name}}
      </div>
      <div data-id='{{@index}}' class='col-xs-4 gutterless market-beer-price'>
        {{money beer.price}}
      </div>
      <div class='col-xs-4 gutterless'>
        <button data-id='{{@index}}' class='purchased-button'>Purchased</button>
      </div>
    </div>
  {{/each}}
</div>
