<div class='row beer-headers'>
  <div class='col-xs-4 gutterless'>
    name
  </div>
  <div class='col-xs-4 gutterless'>
    price
  </div>
  <div class='col-xs-4 gutterless'>
    actions
  </div>
</div>
<div class='container-fluid list-o-beers'>
  {{#each beers as |beer|}}
    <div data-id='{{beer.id}}' class='row one-beer'>
      <div data-id='{{beer.id}}' class='col-xs-4 gutterless beer-editable beer-name'>
        {{beer.name}}
      </div>
      <div data-id='{{beer.id}}' class='col-xs-4 gutterless beer-editable beer-price'>
        {{money beer.price}}
      </div>
      <div class='col-xs-4 gutterless'>
        <button data-id='{{beer.id}}' class='button-secondary edit-button manage-pg-buttons'>Edit</button>
        <button data-id='{{beer.id}}' class='button-error delete-button manage-pg-buttons'>Delete</button>
        <button data-id='{{beer.id}}' class='button-success save-button manage-pg-buttons'>Save</button>
        <button data-id='{{beer.id}}' class='button-warning cancel-button manage-pg-buttons'>Cancel</button>
      </div>
    </div>
  {{/each}}
</div>
